---
import GitHub from "@/components/icons/GitHub.astro";
import Link from "@/components/icons/Link.astro";
import LinkButton from "@/components/common/LinkButton.astro";

const PROJECTS = [
{
    title: "Arquitectura Serverless - Backend",
    description:
      "Este proyecto implementa un sistema backend moderno para la gestión de usuarios y roles utilizando una arquitectura serverless desacoplada. El sistema está compuesto por funciones REST y GraphQL desarrolladas en Java + Azure Functions, orquestadas mediante un microservicio Backend For Frontend (BFF) desplegado en Docker sobre AWS EC2.",
    image: "/Diagrama.webp",
    github: "https://github.com/PedroRiveraDuoc?tab=repositories"
  },
  {
    title: "Desarrollo Web - Landing Page para Psicólogo",
    description:
      "(Ad portas Producción) - Landing page moderna y responsiva para promover servicios psicológicos. Construida con Astro, Tailwind CSS y animaciones AOS para una experiencia fluida y profesional.",
    image: "/ps-viviana.webp",
    link: "https://ps-viviana.vercel.app/",
    github: "https://github.com/PedroRiveraDuoc/ps.viviana",
  },

];
---

<div class="flex flex-col gap-y-16 pb-12 md:pb-16 lg:pb-24" data-aos="fade-up">
  {
    PROJECTS.map(({ image, title, description, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={title}
              src={image}
              loading="lazy"
              class="w-full h-60 sm:h-72 md:h-80 lg:h-80 object-contain object-center rounded-xl bg-white p-4"
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>

          <div class="mt-2 text-gray-700 dark:text-gray-400">
            {description}
          </div>

          <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
        </div>
      </article>
    ))
  }
</div>